@model GuilleCoin.Models.User
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Nuevo Usario
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Crear Usuario
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CreateUser", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombre:</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

